* {
  margin: 0%;
  padding: 0%;
}

.navbar {
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 0px;
  background-color: #333;
  color: white;
}


.logo h1 {
  /* font-size: 30px; */
  justify-content: space-between;
  display: flex;
  margin: 0;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  display: inline-block;
  margin-right: 40px;
  cursor: pointer;
  font-size: 18px;
}

.main {
  display: flex;

}

.user {
  margin-top: 4px;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  height: 30px;
  width: 30px;
  transition: transform 0.3s, box-shadow 0.3s;
  margin-right:10px ;
}


.logout-btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}



.mobile-navbar,
.menu-btn {
  display: none;
}




@media screen and (max-width: 900px) {

  .user{
    margin-top: 3px;
  }
  .links {
    display: none;
  }

  .logout-btn {
    display: none;
  }

  .logout-btn {
    padding: 5px 8px;
    right: 40px;
    top: 15px;
    transition: 0.2s ease-in-out;
  }

  .mobile-navbar {
    display: inline;
    position: fixed;
    right: 0px;
    width: 30%;
    height: 100%;
    text-align: center;
    transition: 0.1s ease-in;
    background-color: #333;
    color: white;
    border: white solid 1px;
  }

  .mobile-links li {
    margin: 20px;
    display: list-item;
    text-align: center;

  }



  .menu-btn {
    display: inline;
    border: none;
    margin-top: 5px;
    font-size: 32px;
    color: white;
    background-color: transparent;

  }
}

@media screen and (max-width: 400px) {
  .navbar {
    height: 20px;
    padding: 10px 20px;

  }
  .user{
    margin-top: 3px;
  }

  .logo {
    font-size: 10px;
    top: 16px;
    left: 10px;
    margin: 0px;

  }

  .logout-btn {
    padding: 2px 5px;
    right: 20px;
    border-radius: 3px;
    top: 16px;
    font-size: 10px;

  }

  .menu-btn {

    font-size: 25px;
    margin-top: 5px;

  }
}