.expenses-table {
  max-width: 800px;
  margin: 0 auto;
  width: 90%;
}

h1 {
  text-align: center;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.exp {
  text-align: right;
}

th,
td {
  padding: 10px;
  text-align: left;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

.title-column {
  width: 50%;
  text-transform: none;
}

.money-column {
  width: 30%;
  text-align: right;
}

.negative {
  color: red;
}

.positive {
  color: green;
}

.nodata {
  background-color: #f0f2f5;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  color: #333;
}

.date-filter-container {
  display: flex;
  flex-direction: column;

}


.date-input {
  margin: 10px 0;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
}

.date-label {
  /* display: flex; */
  margin-top: 20px;
  font-weight: bold;
}




@media only screen and (max-width: 600px) {
  .expenses-table {
    width: 80%;
    overflow-x: auto;
    font-size: 10px;
  }

  table {
    width: 100%;
  }

  th,
  td {
    padding: 8px;
  }

  .title-column,
  .money-column {
    width: auto;
  }
}


/* reports */
h2 {
  margin-bottom: -4%;
}

.d {
  text-align: center;
  align-items: center;
  padding: 2rem;
}

.se {
  margin-top: -195px;
  font-weight: bold;
}


.select {
  margin-bottom: 20px;
}

.selectlist {
  justify-items: center;
  cursor: pointer;
}

.tbl {
  margin-top: 150px;

}

.selectlist li {
  cursor: pointer;
  padding: 10px 20px;
  margin: 0 5px;
  background: #208231;
  color: #fff;
  border-radius: 4px;
  transition: background 0.3s ease;
}

.selectlist li:hover {
  background: #2d984d;
}


/*insights */


.line1 {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.line {
  margin-top: 20px;
  height: 500px;
  width: 70%;
}